@page
@using Microsoft.Extensions.Localization
@using ProductService.Localization
@using ProductService.Web.Pages.ProductService
@model ProductService.Web.Pages.ProductService.IndexModel
@inject IStringLocalizer<ProductServiceResource> L

@{
}
<h1>ProductService</h1>
<p>@L["SamplePageMessage"]</p>
